GOOGLE_API_KEY=tu_api_key
APP_NAME=patentes_agent
PATENTES_SOURCE_MODE=local
PATENTES_SOURCE_DIR=C:/Users/fnrivarola/Desktop/Celula/Patentes/Fuente
PATENTES_INDEX_DB=./data/index/patentes.sqlite
PATENTES_SESSION_STORE=./data/session_store.json
PATENTES_TRANSCRIPT_PATH=./data/conversations.jsonl
DOCS_BASE_URL=http://localhost:8000
GEMINI_MODEL=gemini-3-flash-preview
THINKING_LEVEL=low
WEBEX_BOT_TOKEN=tu_token_de_bot_webex
WEBEX_WEBHOOK_SECRET=secreto_del_webhook_webex
WEBEX_API_BASE_URL=https://webexapis.com/v1
WEBEX_REQUEST_TIMEOUT_SECONDS=30
PATENTES_API_BASE_URL=http://localhost:8000
PATENTES_API_TIMEOUT_SECONDS=60
WEBEX_DEDUPE_STORE=./data/webex_adapter/webex_events.sqlite
WEBEX_DEDUPE_TTL_HOURS=72
WEBEX_ALLOWED_ROOM_TYPES=direct,group
SHAREPOINT_TENANT_ID=538c3c3b-c428-4c7d-9d99-4140d311d6c2
SHAREPOINT_CLIENT_ID=fbd9de94-80b1-4f7a-852a-d3c63ddd3bd5
SHAREPOINT_SITE_URL=https://arcorgroup.sharepoint.com/sites/GC_CORP_InfraestructurayComunicacionesTI
SHAREPOINT_LIBRARY_NAME=Shared Documents
SHAREPOINT_FOLDER_PATH=31 - IA y Automatizaciones/Agente Patente (Google)/Fuente de Datos
SHAREPOINT_CERT_THUMBPRINT=2A888646A2AB4BFF5DA4118345FA58754B075827
SHAREPOINT_CERT_PFX_PATH=./Certificado/arcor_agente_patentes2026.pfx
SHAREPOINT_CERT_PFX_PASSWORD=tu_password_pfx
SHAREPOINT_CACHE_DIR=./data/sharepoint_cache
SHAREPOINT_REQUEST_TIMEOUT_SECONDS=60
SHAREPOINT_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
SHAREPOINT_SYNC_INTERVAL_MINUTES=10
SHAREPOINT_SYNC_WINDOW_START=08:00
SHAREPOINT_SYNC_WINDOW_END=17:00
SHAREPOINT_SYNC_WEEKDAYS=0,1,2,3,4
